<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Это говорит о том, что мы хотим запросить логин у другого приложения -->
    <uses-permission android:name="ru.yandex.practicum.permission.LOGIN_PROVIDER" />
    <queries>
        <package android:name="ru.yandex.practicum.sprint22" />
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sprint22">
        <activity
            android:name=".AnotherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sprint22">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>